// página principal que usa extends de layout  y define su contenido en block content
extends layout

block content
    p Welcome to the Final Fantasy VII Character Manager.
    p
    a(href='/list') character list