// vista dinámica donde se muestra la lista de characters que hay, o muestra un mensaje si no hay ninguno.
// también contiene un enlace que lleva a la creación de un nuevo character
extends layout

block content
    h1 Character list

    if characters.length === 0
        p There are no characters
    else
        ul
            each c in characters
                li #{c.name} (#{c.level})

    p 
        a(href='/new') New character